
h1 {
    color:rgb(240, 57, 164) 
}

h2 {
    color:purple;
}

body {
    color:rgb(240, 57, 164)
}

.box {
    height: 4rem;
    width: 20rem;
    padding: 15px;
    margin: 0px;
    border: 10px;
    background-color: greenyellow;
}

